<p id="notice"><%= notice %></p>

<h1>All Products</h1>
<%= debug session[:cart]%>
<details>
<summary>Shopping Cart</summary>
<% if @cart.empty?%>
<p> No item in cart </p>
<%else%>
<ul>
<% @cart.each do |product|%>
<li><%= product.name %>         <td><%=link_to 'remove from cart',remove_from_cart_path(product), method: :delete %></td>
</li>
<%end%>
</ul>
<%end%>
</details>



 
  



      
     
   <div class="row">
    <% @products.each do |product| %>
    
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
    <div class="caption">

<%= image_tag(product.images[0])%>

      <h3><%=product.name%></h3>
        <p><%= product.description %></p>
       <p> <%= product.price %></p>
        <% if @cart.include?(product)%>
      <p>  <%=link_to 'remove from cart',remove_from_cart_path(product), method: :delete,  class:"btn btn-primary", role: "button" %> 
        <%else %>
        <%=link_to 'Add to Cart', carts_add_to_cart_path(product.id), method: :post,  class:"btn btn-primary", role: "button"  %>
               <%end%>
                      <%=link_to 'buy now',checkout_create_path(product), method: :post,  class:"btn btn-default", role: "button", method: :post, remote: true%></p>

                  </div>     
    
       </div>
       </div> 
     
         <%end%>
           </div>
  
      
          
        

  <%if user_signed_in?%>
<%# <%= link_to 'Show', user_product_path(current_user,product) %></td> 
<%# <%= link_to 'Edit', edit_user_product_path(current_user, product) %></td> 
        <%# <td><%= link_to 'Destroy', user_product_path(current_user, product), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
     
     
    <% end %>